body {
    font-family: sans-serif;
    background-color: rgb(224, 224, 224);
    padding: 1em;
}

h1 {
    text-transform: uppercase;
    padding: 1em;
    background-color: #2c3e50;
    color: white;
}

h2 {
  color: #34495e;
}

a, input {
  outline: none;
  border: .25em solid transparent;
}

a:focus, input:focus {
  border-color: rgb(213, 186, 4);
}

.main_font {
    font-size: 22px;
    font-family: sans-serif;
    text-transform: uppercase;
}

div.shirt_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2.5em;
}

div.shirt_wrapper > div {
    position: relative;
    width: 400px;
    margin-bottom: 4em;
    display: inline-block;
}

div.shirt_wrapper div span > p {
    display: block;
    max-width: 10px;
    position: absolute;
    top: 3em;
    left: 5em;
    color: white;
}

input[type='text'] {
    padding: .5em;
    width: 12.5em;
    font-family: sans-serif;
    font-size: 1.25em;
    text-transform: lowercase;
    outline: none;
}

section.edit input[type="text"] {
    position: absolute;
    top: 14em;
    left: 6em;
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
}

section.edit input[type="submit"] {
  position: absolute;
  top: 30em;
  left: 14.5em;
}

input[type="submit"] {
  padding: .85em 1.75em;
  background-color: #1abc9c;
  color: white;
  border: 0 none;
  font-size: 1em;
  cursor: pointer;
  -webkit-border-radius: .25em;
  border-radius: .25em;
}

svg {
    width: 100%;
}

svg.edit {
    max-width: 17em;
    font-size: 2em;
    color: white;
}

text {
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
}

img {
    max-width: 100%;
    display: inline-block;
}

a.delete, a.edit {
  position: absolute;
  top: 15em;
  left: 5.5em;
  padding: .6em;
  color: white;
  font-size: 1.25em;
  text-decoration: none;
}

a.delete {
  background-color: #e74c3c;
  left: 10em;
}

a.edit {
  background-color: #27ae60;
}

@media screen and (max-width: 34.375em) {
  a.delete, a.edit {
    top: 7em;
    left: 3em;
    padding: .2em;
  }
  a.delete {
    left: 6.5em;
  }
}
